<div class="container">
  <h1>Episodes</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Air date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let episode of episodes" class="episode" [routerLink]="episode.id">
          <td class="episode--name">{{episode.name}}</td>
          <td>{{episode.air_date}}</td>
        </tr>
      </tbody>
      <tr></tr>
    </table>
  </div>
</div>