<div class="jumbotron">
  <div class="container">
    <h1 class="text-light display-3 mb-4">The World of Rick & Morty!</h1>
    <p class="lead text-light">Get access to the largest Rick & Morty database.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card mb-4">
        <div class="card-content">
          <div class="card-body">
            <h2>Characters</h2>
            <p class="my-5">Get to know all of our characters...</p>
            <hr>
            <button type="button" routerLink="/characters" class="btn btn-primary">Go to characters</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card mb-4">
        <div class="card-content">
          <div class="card-body">
            <h2>Episodes</h2>
            <p class="my-5">Browse through the list of episodes...</p>
            <hr>
            <button type="button" routerLink="/episodes" class="btn btn-primary">Browse episodes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>